@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    It allows you to search movies info by title, genre or actor.<br>
    1. All you need is click on the "Movies" label given in navigation bar.<br>
    2. Then you will see three forms. Do you want to enter information in all of them?Well.<br>
    Or,maybe, you would like to enter some of them?Let it be.<br>
    3.After that just click on "Filter" button.The result information  will be displayed below the forms.

</p>
