@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Russia,Novosibirsk<br />
    <abbr title="Email"><strong>E:</strong></abbr>
    <a href="mailto:Timoshenko927@gmail.com">Timoshenko927@gmail.com</a><br />
</address>

